section {
    background-color: darkgreen;
    padding-bottom: 15px;
    clip-path: 
        polygon(
            0% 0%,
            100% 0%,
            100% calc(100% - 15px),
            0% 100%
        );
    color: whitesmoke;
}

#profile_pic {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    
    width: 100%;
 
}

.about {
    min-height: fit-content;
}

h1, h2, h4, h5 {
    text-align: center;
}

h4, h5 {
    line-height: 2em;
}

hr {
    background-color: whitesmoke;
}
