section {
    background-color: cyan;
}

#profile_pic {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 20px;
    width: 100%;
}

.about {
    min-height: fit-content;
}

.container {
    border: black solid 1px;
}

.col, .col-5, .col-7 {
    border: red solid 1px;
}