.footer-container {
    max-width: 100%;
    padding: 10px;
}

.footer-contact {
    text-align: center;
}

.contact-link {
    color: inherit;
    text-decoration: underline;
    text-decoration-style: wavy;
    -moz-text-decoration-style: wavy;
    text-decoration-color: #0069D9;
    -moz-text-decoration-color: #0069D9;
}

.contact-link:hover {
    color: white;
    background-color: #0069D9;
    text-decoration: none;
    padding: 5px;
}

.footer-logos img {
    margin: 0 30px;
}

.footer-logos img:hover {
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
}