footer {
    background: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../images/LCC.jpeg);
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: bottom;
}
.footer-container {
    max-width: 100%;
    padding: 10px;
}

.footer-contact {
    text-align: center;
}

.contact-link {
    color: inherit;
    text-decoration: underline;
    text-decoration-color: white;
    -moz-text-decoration-color: white;
}

.contact-link:hover {
    color: black;
    background-color: white;
    text-decoration: none;
    padding: 5px;
}

.footer-logos:hover {
    transform: scale(1.15);
            -webkit-transform: scale(1.15);
            -moz-transform: scale(1.15);
            -ms-transform: scale(1.15);
            -o-transform: scale(1.15);
}