html {
    overflow-x: hidden;
}

body {
    z-index: 5;
}

nav {
    z-index: 5;
    background-color: midnightblue;
}

.nav-item {
    font-size: 22px;
}

/* main {
    margin: 20px 0px;
} */
.line-gradient {
    background-image: linear-gradient(midnightblue, lightgrey);
}
.jumbotron {
    z-index: 5;
    height: 261.5px;
}

.opening_animation {
    background-color: cyan;
    position: relative;
    z-index: 0;
    animation: sky 5s infinite alternate;
    -webkit-animation: sky 5s infinite alternate;
}

@keyframes sky {
    0% {
        background-color: midnightblue;
    }
    100% {
        background-color: cyan;
    }
}

.mountains {
    position: relative;
    max-width: 1200px;
    width: 100%;
    z-index: 2;
}

.clouds {
    position: absolute;
    z-index: 3;
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    top: 0%;
}

.clouds img {
    position: absolute;
    top: 30%;
    left: -150px;
    width: 100%;
    animation: cloud 7s infinite ease-in-out;
    -webkit-animation: cloud 7s infinite ease-in-out;
}

.clouds img:nth-child(1) {
    animation-delay: 3s;
    width: 100%;
    max-width: 100px;
    animation-direction: alternate;
}

.clouds img:nth-child(2) {
    width: 100%;
    max-width: 75px;
    animation-delay: 1s;
    animation-direction: normal;
}

.clouds img:nth-child(3) {
    animation-delay: 4s;
    width: 100%;
    max-width: 90px;
    animation-direction: alternate-reverse;
}
.clouds img:nth-child(4) {
    animation-delay: 5.5s;
    max-width: 83px;
    width: 100%;
    animation-direction: reverse;
}

@keyframes cloud {
    0% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
}
    40% {
        transform: translateX(60vh);
        -webkit-transform: translateX(60vh);
        -moz-transform: translateX(60vh);
        -ms-transform: translateX(60vh);
        -o-transform: translateX(60vh);
}

    100% {
        transform: translateX(100vh);
        -webkit-transform: translateX(100vh);
        -moz-transform: translateX(100vh);
        -ms-transform: translateX(100vh);
        -o-transform: translateX(100vh);
}
}

.sun img {
    position: absolute;
    max-width: 100px;
    width: 100%;
    left: 27%;
    z-index: 1;
    bottom: 10%;
    animation: sun 5s infinite alternate;
    -webkit-animation: sun 5s infinite alternate;
}


@keyframes sun {
    from {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
} 
    to {
        transform: translateY(-21vh);
        -webkit-transform: translateY(-21vh);
        -moz-transform: translateY(-21vh);
        -ms-transform: translateY(-21vh);
        -o-transform: translateY(-21vh);
}
} 

@media only screen and (orientation: portrait) {
    .row {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } 
}
  @media only screen and (max-width: 1200px) and (min-width: 993px), (orientation: portrait) {
    .row {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sun img {
        max-width: 150px;
      }
  
      .clouds img:nth-child(1) {
          max-width: 114px;
      }
      .clouds img:nth-child(2) {
          max-width: 150px;
      }
      .clouds img:nth-child(3) {
          max-width: 135px;
      }
      .clouds img:nth-child(4) {
          max-width: 125px;
      }

      @keyframes cloud {
        0% {
            transform: translateX(0);
            -webkit-transform: translateX(0);
            -moz-transform: translateX(0);
            -ms-transform: translateX(0);
            -o-transform: translateX(0);
        }
        40% {
            transform: translateX(90vh);
            -webkit-transform: translateX(90vh);
            -moz-transform: translateX(90vh);
            -ms-transform: translateX(90vh);
            -o-transform: translateX(90vh);
        }
    
        100% {
            transform: translateX(150vh);
            -webkit-transform: translateX(150vh);
            -moz-transform: translateX(150vh);
            -ms-transform: translateX(150vh);
            -o-transform: translateX(150vh);
        }
    }

    @keyframes sun {
        from {
            transform: translateY(0);
            -webkit-transform: translateY(0);
            -moz-transform: translateY(0);
            -ms-transform: translateY(0);
            -o-transform: translateY(0);
    } 
        to {
            transform: translateY(-37vh);
            -webkit-transform: translateY(-37vh);
            -moz-transform: translateY(-37vh);
            -ms-transform: translateY(-37vh);
            -o-transform: translateY(-37vh);
        }
    } 
  }

  @media only screen and (max-width: 992px) and (min-width: 896px), (orientation: portrait) {
    .row {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } 

    .sun img {
        max-width: 110px;
      }
  
      .clouds img:nth-child(1) {
          width: 130px;
      }
      .clouds img:nth-child(2) {
          max-width: 100px;
      }
      .clouds img:nth-child(3) {
          max-width: 120px;
      }
      .clouds img:nth-child(4) {
          max-width: 105px;
      }

    @keyframes sun {
        from {
            transform: translateY(0);
            -webkit-transform: translateY(0);
            -moz-transform: translateY(0);
            -ms-transform: translateY(0);
            -o-transform: translateY(0);
    } 
        to {
            transform: translateY(-29vh);
            -webkit-transform: translateY(-29vh);
            -moz-transform: translateY(-29vh);
            -ms-transform: translateY(-29vh);
            -o-transform: translateY(-29vh);
        }
    } 
  }

  @media only screen and (max-width: 895px) and (min-width: 768px), (orientation: portrait) {
    .row {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } 

    .sun img {
        max-width: 110px;
      }
  
      .clouds img:nth-child(1) {
          width: 130px;
      }
      .clouds img:nth-child(2) {
          max-width: 100px;
      }
      .clouds img:nth-child(3) {
          max-width: 120px;
      }
      .clouds img:nth-child(4) {
          max-width: 105px;
      }

    @keyframes sun {
        from {
            transform: translateY(0);
            -webkit-transform: translateY(0);
            -moz-transform: translateY(0);
            -ms-transform: translateY(0);
            -o-transform: translateY(0);
        } 
        to {
            transform: translateY(-29vh);
            -webkit-transform: translateY(-29vh);
            -moz-transform: translateY(-29vh);
            -ms-transform: translateY(-29vh);
            -o-transform: translateY(-29vh);
        }   
    } 
    @keyframes cloud {
        0% {
            transform: translateX(0);
            -webkit-transform: translateX(0);
            -moz-transform: translateX(0);
            -ms-transform: translateX(0);
            -o-transform: translateX(0);
        }
        40% {
            transform: translateX(80vh);
            -webkit-transform: translateX(75vh);
            -moz-transform: translateX(80vh);
            -ms-transform: translateX(80vh);
            -o-transform: translateX(80vh);
}
    
        100% {
            transform: translateX(130vh);
            -webkit-transform: translateX(130vh);
            -moz-transform: translateX(130vh);
            -ms-transform: translateX(130vh);
            -o-transform: translateX(130vh);
}
    }
}

  @media only screen and (max-width: 767px) and (min-width: 471px), (orientation: portrait) {
    .row {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } 

    .sun img {
      max-width: 100px;
    }

    .clouds img:nth-child(1) {
        width: 90px;
    }
    .clouds img:nth-child(2) {
        max-width: 67px;
    }
    .clouds img:nth-child(3) {
        max-width: 81px;
    }
    .clouds img:nth-child(4) {
        max-width: 74px;
    }

    @keyframes sun {
        from {
            transform: translateY(0);
            -webkit-transform: translateY(0);
            -moz-transform: translateY(0);
            -ms-transform: translateY(0);
            -o-transform: translateY(0);
        } 
        to {
            transform: translateY(-29vh);
            -webkit-transform: translateY(-29vh);
            -moz-transform: translateY(-29vh);
            -ms-transform: translateY(-29vh);
            -o-transform: translateY(-29vh);
}   
    } 

  }

  @media only screen and (max-width: 470px) and (min-width: 0px), (orientation: portrait) {
    .row {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } 

    .sun img {
      max-width: 75px;
    }

    .clouds img:nth-child(1) {
        width: 75px;
    }
    .clouds img:nth-child(2) {
        max-width: 56px;
    }
    .clouds img:nth-child(3) {
        max-width: 67px;
    }
    .clouds img:nth-child(4) {
        max-width: 62px;
    }

    @keyframes cloud {
        0% {
            transform: translateX(0);
            -webkit-transform: translateX(0);
            -moz-transform: translateX(0);
            -ms-transform: translateX(0);
            -o-transform: translateX(0);
        }
        40% {
            transform: translateX(60vh);
            -webkit-transform: translateX(50vh);
            -moz-transform: translateX(60vh);
            -ms-transform: translateX(60vh);
            -o-transform: translateX(60vh);
}
    
        100% {
            transform: translateX(90vh);
            -webkit-transform: translateX(90vh);
            -moz-transform: translateX(90vh);
            -ms-transform: translateX(90vh);
            -o-transform: translateX(90vh);
}
    }

    @keyframes sun {
        from {
            transform: translateY(0);
            -webkit-transform: translateY(0);
            -moz-transform: translateY(0);
            -ms-transform: translateY(0);
            -o-transform: translateY(0);
    } 
        to {
            transform: translateY(-12vh);
            -webkit-transform: translateY(-12vh);
            -moz-transform: translateY(-12vh);
            -ms-transform: translateY(-12vh);
            -o-transform: translateY(-12vh);
        }   
    } 
  }

