#portfolio-header {
    padding: 20px 0px 5px;
}

.r1, .r2 {
    padding-bottom: 20px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card img {
    width: 100%;
    max-width: 300px;
    padding: 10px;
}

.carousel-indicators, .carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(1);
}

/* Add keyframes in the future? */
@media (min-width: 992px) {
    .card:hover {
        transform: scale(0.97);
        -webkit-transform: scale(0.97);
        -moz-transform: scale(0.97);
        -ms-transform: scale(0.97);
        -o-transform: scale(0.97);
}
    
    .footer-logos:hover {
        transform: scale(0.95);
        -webkit-transform: scale(0.95);
        -moz-transform: scale(0.95);
        -ms-transform: scale(0.95);
        -o-transform: scale(0.95);
}
  }